# Don't track content of these folders
.vscode
.venv
*.txt
*.cfg

# Compiled source #
###################
#*.com
#*.class
#*.dll

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
#*.7z
#*.dmg